
.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
}

.tarjeta {
    flex: 1 0 30%;
    margin: 5px;
}

.conten {
    margin: 15px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    padding-bottom: 10px;
    cursor: pointer;
    padding-top: 10px;

}


.img{
    width: 400px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
}

.name {
    font-size: 30px;
    text-align: center;
    color: black;
    margin: 0;
}
.precio {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    color: black;
    padding-top: 0 8px;
}

.texto {
    font-size: 20px;
    text-align: center;
    color: black;
    margin: 0;
}

.detalle {
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    background-color: red;
    color: white;

}

@media(max-width:1000px){
    .conten{
        width: 45px;
    }
}

@media(max-width:750px){
    .conten{
        width: 100%;
    }
}


