.contenedor {
    background-color: black;
    padding-right: 170px;   
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 20%;
    padding-right: 10%;
    
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.logo2{
    text-decoration: none;
}

span{
    color: #ea1538;
}


nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li:hover {
    color: #ea1538;
    transition: .3s;
}

.button {
    border: none;
    justify-content: center;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

