.footer{
    width: 100%;
    background-color: black;
    color: white;
}

.footer .caja1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px ;
}

.footer .caja1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .caja1 .box h2 {
    margin-bottom: 25px;
    font-size: 35px;
    
}

.footer .caja1 .box .log {
    text-decoration: none;
    color: white;
}
.footer .caja1 .box h3 {
    color: white;
    text-align: center;
}
.footer .caja1 .box p {
    margin-bottom: 10px;
}

.footer .caja1 .red-social {
    color: white;
    text-align: center;
}
.footer .caja1 .red-social li { 
    display: inline-block;
    text-decoration: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: white;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}


.footer .caja1 .red-social li:hover {
    color: rgb(228, 146, 146);
}

.footer .caja2 {
    padding: 15px 10px;
    text-align: center;
    
}

.footer .caja2 small {
    font-size: 20px;
}


@media screen and (max-width: 880px){
    .footer .caja1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}