.detalleCart{
    background-color: brown;
}

.conten {
    margin: 15px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    padding-bottom: 10px;
    cursor: pointer;
    padding-top: 10px;
}


.img{
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
}

.name {
    font-size: 30px;
    text-align: center;
    color: black;
    margin: 0;
}
.precio {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    color: black;
    padding-top: 0 8px;
}

.texto {
    font-size: 20px;
    text-align: center;
    color: black;
    margin: 0;
}

.finalizar{

    background-color: red;
    color: white;

}